.parent{
    border: 1px solid yellow;
    width: 200px;
    height: 14px;
}
.child{
    /* border: 1px solid black; */
    width: 200px;
    height: 0px;
    cursor: pointer;
    display: grid;
    grid-template-columns: auto auto;
    /* display: none; */
    overflow: hidden;
    transition: 0.5s;
    background-color: red;
}
.parent:hover .child{
    display: grid;
    overflow: hidden;
    height: 100px;
    border: 1px solid black;
}
/* .parent{
        border: 1px solid yellow;
        width: 500px;
        height: 500px;
        display: flex;
        align-items: center;
        justify-content: center;
}
.child{
    border: 1px solid black;
    width: 250px;
    height: 250px;
}
.parent:hover{
 .child{
    background-color: brown;
 }
} */
